<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}"/>
</head>
<body>
<nav class="navbar navbar-default" th:fragment="navi">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">J-Basics</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Trainings<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/intro}">Introduction</a></li>
                    <li><a th:href="@{/basics}">Basics</a></li>
                    <li><a th:href="@{/collections}">Collections</a></li>
                    <li><a th:href="@{/structure}">Basic structure</a></li>
                    <li><a th:href="@{/classes}">Classes</a></li>
                    <li><a th:href="@{/other}">Other</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">How-TO<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/help_intellij}">IntelliJ</a></li>
                    <li><a th:href="@{/help_git}">GIT</a></li>
                </ul>
            </li>
            <li><a th:href="@{/tasks_lt}">Exercises</a></li>
            <li><a th:href="@{/projects}">Projects</a></li>
            <li><a th:href="@{/faq}">FAQ</a></li>
            <button id="external_link_git"
                    class="btn btn-success navbar-btn">
                GIT
            </button>
        </ul>
    </div>
</nav>
<script th:src="@{/js/jquery-3.2.0.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>